*, *:before, *:after {
    box-sizing: inherit;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: black solid 1px;
}

.title {
    text-align: center;
    grid-column: 1 / -1;
    padding: 0.5rem;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;

    @media screen and (max-width: 600px) {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
    }
}

.input-container, .output-container {
    padding: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
    height: auto;
}

.input-container textarea, .output-container textarea{
    width: 99%;
}

.input-container textarea {
    resize: none;
    height: 98%;
}

.output-container textarea {
    resize: none;
    cursor: pointer;
    height: calc(98% - 2.5rem);
}

button {
    display: inline-flex;
    align-items: top;
    background-color: white;
    color: black;
}