*, *:before, *:after {
    box-sizing: inherit;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.title {
    text-align: center;
    grid-column: 1 / -1;
    padding: 0.5rem;
}

.container {
    height: 99%;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
}

.input-container, .output-container {
    padding: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
    height: auto;
    width: auto;
}

.input-container textarea, .output-container textarea{
    width: 99%;
    height: 98%;
    background-color: #282935;
    color: white;
    resize: none;
    border: none;
    border-radius: 5%;
    padding: 1rem;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.output-container textarea {
    cursor: pointer;
}

button {
    display: inline-flex;
    align-items: top;
    background-color: white;
    color: black;
}

@media screen and (max-width: 800px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr 1fr;
    }
    
    .input-container {
        overflow-y: hidden;
    }

}